
* {
    box-sizing: border-box;
}

body {
      
      font-size: 20px ; 
      font-family: sans-serif;
      line-height: 1.8;
      color: black;
  }

  .navbar-brand{
      font-size: 20px;

  }

  .navbar-brand strong:hover {
      color: white!important;
  }

  .bg-1 { 
      background-color: darkgray;
      color: black;
  }

  .bg-2 { 
      background-color: lightgray;
      color:white;
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .navbar {
      background-color: black;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      position: fixed;
      width: 100%;
  }
  .navbar-nav  li a:hover {
      color: white!important;
  }

  footer {
      padding-top: 5px;
      padding-bottom: 5px;
      height:100px;
      background-color: white;
  }
